extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  .jumbotron
    .container
      h1.display-2 Welcome to winvst
      p.lead Check out the 
        a(href='/users') Users 
        | page!
